* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li a {
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 2%;
}

.logo {
    height: 100px;
    width: auto;
}

.nav {
    list-style: none;
}

.nav__bar {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
}

.nav__links li {
    display: inline-block;
    justify-content: flex-start;
    padding: 0px 15px;
}

.social__links li {
    display: inline-block;
    padding: 0px 5px;
}

.social__links a {
    font-size: 40px;
    text-align: right;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flex-grid img {
    width: 300px;
    height: auto;
    padding: 10px;
}

.flex-grid_large img {
    width: 500px;
    object-fit: contain;
    padding: 15px;
}